<h1 id="this-cheese-is-warm">ce fromage est chaud</h1>
<p>ce fromage très très ennuyeux est très chaud</p>
<blockquote>
<p>ce vin frais très cher est très chaud</p>
</blockquote>
<ul>
<li>ce poisson est cher</li>
<li>ce fromage chaud est ennuyeux</li>
</ul>
<ol>
<li>ce fromage cher chaud est cher</li>
<li>ce poisson est italien</li>
<li>ce vin est délicieux</li>
</ol>
<hr />
<dl>
<dt>ce poisson est très frais</dt>
<dd>ce fromage chaud frais est frais
</dd>
<dt>ce fromage est chaud</dt>
<dd>ce vin est cher
</dd>
</dl>
<table>
<thead>
<tr class="header">
<th align="left">ce poisson est italien</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">ce poisson est ennuyeux</td>
</tr>
<tr class="even">
<td align="left">ce poisson est délicieux</td>
</tr>
<tr class="odd">
<td align="left">ce poisson est cher</td>
</tr>
<tr class="even">
<td align="left">ce poisson est frais</td>
</tr>
</tbody>
</table>
